

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background: linear-gradient(to right top,  #65dfc9, #65dbeb);
  /* display: flex; */
}

.wrapper {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,p {
  text-align: center;
}

.dashboard {
  background: white;
  height: 80vh;
  width: 60%;
  border-radius: 1rem;
  z-index: 3;
  overflow-x: hidden;
    overflow-y: auto;
  backdrop-filter: blur(2rem);
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
}

.circle1,
.circle2{
/* background: white; */
background: linear-gradient(
  to right bottom,
  rgba(255,255,255,0.8),
  rgba(255, 255, 255, 0.3)
);
height: 20rem;
width: 20rem;
position: absolute;
border-radius: 50%;
}
 
 .circle1{
  top: 5%;
  right: 15%;

} 
.circle2{
  bottom: 5%;
  left: 10%;
}

/* colors: #65dfc9, #65dbeb */

@media (max-width: 900px) {
.circle1,
.circle2{
  display: none;
}
 .dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 

}