

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
   min-width: 30%;
   height:100%;
   background: linear-gradient(
  to right bottom,
  rgba(255,255,255,0.8),
  rgba(255, 255, 255, 0.3)
);
   left: 0;
   border-radius: 1rem;
}

.form-container h2 {
    margin-top: 20px;
    color: #65dfc9;
}


form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
}

button {
    cursor: pointer;
    
}

.add-btn {
    border: transparent;
    background: transparent;
    color: #65dfc9;
    font-size: 24px;
    vertical-align: middle;
    margin-left: 5px;
}

/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
} */

/* .select {
   position: relative;
   overflow: hidden;
} */

select {
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
    
}


.delete-btn {
    margin-top: 2rem;
    /* background: rgba(255,255,255,0.3); */
    background: #65dfc9;
    border: transparent;
    padding: 8px;
    border-radius: 8px;
  
}

.delete-btn:hover{
    background: rgba(19, 159, 184, 0.959);
    color: white;
}


@media(max-width:900px){
    .form-container{
        position:relative;
        height: 40%;
    }
}